<h1><%= @company.name %></h1>

<p><%= link_to "Edit", edit_company_path(@company) %></p>
<p><%= link_to "Delete", company_path(@company),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>

  <% if @company.games.any? %>
    <h3>Games</h3>

    <ul>
      <% @company.games.each dp |game| %>
        <li><%= link_to game.name, company_game_path(@company, game) %></li>
      <% end %>
    </ul>
  <% else %>
    <h3>There are no games yet.</h3>
  <% end %>

<p><%= link_to "Return to companies", companies_path %></p>
