<!DOCTYPE html>
<html>
<head>
  <title>FanSite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", companies_path %></li>
        <li><%= link_to "Add Company", new_company_path %></li>
      </ul>
    </nav>
    <%= yield %>
  </div>
</body>
</html>
